[submodule ".janus/vitality"]
	path = .janus/vitality
	url = git://github.com/sjl/vitality.vim.git
[submodule ".janus/zencoding-vim"]
	path = .janus/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule ".janus/match-tag-always"]
	path = .janus/match-tag-always
	url = git://github.com/Valloric/MatchTagAlways.git
[submodule ".janus/tabular"]
	path = .janus/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".janus/vim-ruby-refactoring"]
	path = .janus/vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule ".janus/twiligth256"]
	path = .janus/twiligth256
	url = https://github.com/vim-scripts/twilight256.vim
[submodule "/Users/adil_jarulin/.janus/vim-russian-jcukenmac"]
	path = /Users/adil_jarulin/.janus/vim-russian-jcukenmac
	url = https://github.com/shvechikov/vim-keymap-russian-jcukenmac
[submodule ".janus/vim-russian-jcukenmac"]
	path = .janus/vim-russian-jcukenmac
	url = https://github.com/shvechikov/vim-keymap-russian-jcukenmac.git
[submodule ".janus/vim-slim"]
	path = .janus/vim-slim
	url = https://github.com/slim-template/vim-slim
